<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web sampleTest" parallel="tests" thread-count="1">
	<test name="basicTest">
		<classes>
			<class
				name="com.google.search.SearchEngine.Test.GoogleSearchTest" />
		</classes>
	</test>
</suite>